<div class="bg_image">
  <app-country
    [radius]="10"
    [flag_url]="af_flag"
    [scores]="[122]"
    [timings]="[71]"
  ></app-country>
  <app-country
    [radius]="14"
    [flag_url]="zm_flag"
    [scores]="[115]"
    [timings]="[19]"
  ></app-country>
  <app-country
    [radius]="18"
    [flag_url]="pk_flag"
    [scores]="[183, 107, 122]"
    [timings]="[12, 32, 77]"
  ></app-country>
  <app-country
    [radius]="22"
    [flag_url]="ba_flag"
    [scores]="[102, 100, 136, 204, 136, 113, 103]"
    [timings]="[2, 5, 25, 43, 70, 72, 78]"
  ></app-country>
  <app-country
    [radius]="26"
    [flag_url]="sa_flag"
    [scores]="[119, 138, 153, 112, 160, 129, 254, 101]"
    [timings]="[22, 34, 53, 54, 55, 56, 69, 79]"
  ></app-country>
  <app-country
    [radius]="30"
    [flag_url]="eg_flag"
    [scores]="[107, 112, 103, 167, 235, 122, 149, 103]"
    [timings]="[6, 7, 16, 40, 41, 42, 57, 58]"
  ></app-country>
  <app-country
    [radius]="34"
    [flag_url]="nz_flag"
    [scores]="[105, 103, 123, 105, 211, 154, 121, 113, 117]"
    [timings]="[4, 15, 23, 24, 38, 39, 48, 49, 80]"
  ></app-country>
  <app-country
    [radius]="38"
    [flag_url]="wi_flag"
    [scores]="[117, 102, 127, 200, 111, 139, 140, 157, 107, 120, 114, 121]"
    [timings]="[8, 18, 26, 37, 44, 59, 60, 61, 62, 67, 68, 76]"
  ></app-country>
  <app-country
    [radius]="42"
    [flag_url]="sl_flag"
    [scores]="[
      107, 133, 108, 106, 128, 139, 103, 103, 131, 110, 104, 213, 243, 113, 166
    ]"
    [timings]="[1, 10, 11, 13, 14, 27, 33, 45, 46, 47, 50, 51, 52, 73, 74]"
  ></app-country>
  <app-country
    [radius]="46"
    [flag_url]="au_flag"
    [scores]="[
      118, 116, 107, 100, 115, 115, 141, 169, 147, 117, 116, 123, 120, 114, 254,
      186
    ]"
    [timings]="[3, 9, 17, 20, 21, 28, 29, 30, 31, 35, 36, 63, 64, 65, 66, 75]"
  ></app-country>
</div>
