.bg_image {
  animation: backgroundAnimation 240s infinite;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes backgroundAnimation {
  1.25% {
    background-image: url("../assets/background_images/1.png");
  }
  2.5% {
    background-image: url("../assets/background_images/2.png");
  }
  3.75% {
    background-image: url("../assets/background_images/3.png");
  }
  5% {
    background-image: url("../assets/background_images/4.png");
  }
  6.25% {
    background-image: url("../assets/background_images/5.png");
  }
  7.5% {
    background-image: url("../assets/background_images/6.png");
  }
  8.75% {
    background-image: url("../assets/background_images/7.png");
  }
  10% {
    background-image: url("../assets/background_images/8.png");
  }
  11.25% {
    background-image: url("../assets/background_images/9.png");
  }
  12.5% {
    background-image: url("../assets/background_images/10.png");
  }
  13.75% {
    background-image: url("../assets/background_images/11.png");
  }
  15% {
    background-image: url("../assets/background_images/12.png");
  }
  16.25% {
    background-image: url("../assets/background_images/13.png");
  }
  17.5% {
    background-image: url("../assets/background_images/14.png");
  }
  18.75% {
    background-image: url("../assets/background_images/15.png");
  }
  20% {
    background-image: url("../assets/background_images/16.png");
  }
  21.25% {
    background-image: url("../assets/background_images/17.png");
  }
  22.5% {
    background-image: url("../assets/background_images/18.png");
  }
  23.75% {
    background-image: url("../assets/background_images/19.png");
  }
  25% {
    background-image: url("../assets/background_images/20.png");
  }
  26.25% {
    background-image: url("../assets/background_images/21.png");
  }
  27.5% {
    background-image: url("../assets/background_images/22.png");
  }
  28.75% {
    background-image: url("../assets/background_images/23.png");
  }
  30% {
    background-image: url("../assets/background_images/24.png");
  }
  31.25% {
    background-image: url("../assets/background_images/25.png");
  }
  32.5% {
    background-image: url("../assets/background_images/26.png");
  }
  33.75% {
    background-image: url("../assets/background_images/27.png");
  }
  35% {
    background-image: url("../assets/background_images/28.png");
  }
  36.25% {
    background-image: url("../assets/background_images/29.png");
  }
  37.5% {
    background-image: url("../assets/background_images/30.png");
  }
  38.75% {
    background-image: url("../assets/background_images/31.png");
  }
  40% {
    background-image: url("../assets/background_images/32.png");
  }
  41.25% {
    background-image: url("../assets/background_images/33.png");
  }
  42.5% {
    background-image: url("../assets/background_images/34.png");
  }
  43.75% {
    background-image: url("../assets/background_images/35.png");
  }
  45% {
    background-image: url("../assets/background_images/36.png");
  }
  46.25% {
    background-image: url("../assets/background_images/37.png");
  }
  47.5% {
    background-image: url("../assets/background_images/38.png");
  }
  48.75% {
    background-image: url("../assets/background_images/39.png");
  }
  50% {
    background-image: url("../assets/background_images/40.png");
  }
  51.25% {
    background-image: url("../assets/background_images/41.png");
  }
  52.5% {
    background-image: url("../assets/background_images/42.png");
  }
  53.75% {
    background-image: url("../assets/background_images/43.png");
  }
  55% {
    background-image: url("../assets/background_images/44.png");
  }
  56.25% {
    background-image: url("../assets/background_images/45.png");
  }
  57.5% {
    background-image: url("../assets/background_images/46.png");
  }
  58.75% {
    background-image: url("../assets/background_images/47.png");
  }
  60% {
    background-image: url("../assets/background_images/48.png");
  }
  61.25% {
    background-image: url("../assets/background_images/49.png");
  }
  62.5% {
    background-image: url("../assets/background_images/50.png");
  }
  63.75% {
    background-image: url("../assets/background_images/51.png");
  }
  65% {
    background-image: url("../assets/background_images/52.png");
  }
  66.25% {
    background-image: url("../assets/background_images/53.png");
  }
  67.5% {
    background-image: url("../assets/background_images/54.png");
  }
  68.75% {
    background-image: url("../assets/background_images/55.png");
  }
  70% {
    background-image: url("../assets/background_images/56.png");
  }
  71.25% {
    background-image: url("../assets/background_images/57.png");
  }
  72.5% {
    background-image: url("../assets/background_images/58.png");
  }
  73.75% {
    background-image: url("../assets/background_images/59.png");
  }
  75% {
    background-image: url("../assets/background_images/60.png");
  }
  76.25% {
    background-image: url("../assets/background_images/61.png");
  }
  77.5% {
    background-image: url("../assets/background_images/62.png");
  }
  78.75% {
    background-image: url("../assets/background_images/63.png");
  }
  80% {
    background-image: url("../assets/background_images/64.png");
  }
  81.25% {
    background-image: url("../assets/background_images/65.png");
  }
  82.5% {
    background-image: url("../assets/background_images/66.png");
  }
  83.75% {
    background-image: url("../assets/background_images/67.png");
  }
  85% {
    background-image: url("../assets/background_images/68.png");
  }
  86.25% {
    background-image: url("../assets/background_images/69.png");
  }
  87.5% {
    background-image: url("../assets/background_images/70.png");
  }
  88.75% {
    background-image: url("../assets/background_images/71.png");
  }
  90% {
    background-image: url("../assets/background_images/72.png");
  }
  91.25% {
    background-image: url("../assets/background_images/73.png");
  }
  92.5% {
    background-image: url("../assets/background_images/74.png");
  }
  93.75% {
    background-image: url("../assets/background_images/75.png");
  }
  95% {
    background-image: url("../assets/background_images/76.png");
  }
  96.25% {
    background-image: url("../assets/background_images/77.png");
  }
  97.5% {
    background-image: url("../assets/background_images/78.png");
  }
  98.75% {
    background-image: url("../assets/background_images/79.png");
  }
  100% {
    background-image: url("../assets/background_images/80.png");
  }
}
